@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");

$title-size: 30px;
$section-title-size: 20px;
$subtitle-size: 18px;
$text-size: 17px;
$page-subtitle-size: 12px;

:root {
    max-width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
    font-size: $text-size;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    :root {
        max-width: 90%;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    :root {
        max-width: 90%;
    }
}

body {
    height: 100%;
    margin: 0;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .header {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;

        .page-links {
            margin: 0;
            font-weight: normal;
            color: #4c566a;

            .active {
                font-weight: bold;
                color: #2e3440 !important;
            }

            a:hover {
                font-weight: bold;
                color: #2e3440;
            }
        }

        .header-title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .socials {
                margin-left: 10px;

                a {
                    text-decoration: none;
                    &:hover {
                        color: #4c566a;
                    }
                }
            }
        }
    }

    a {
        text-decoration: underline;

        &:hover,
        &:link,
        &:active,
        &:visited {
            color: #2e3440;
        }

        &:hover {
            color: #2e3440;
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .title {
        font-weight: bold;
        font-size: $title-size;
        margin: 0;
    }

    .posts {
        margin-bottom: 1em;

        ul {
            margin: 0;
            padding: 0;
        }

        .post-item {
            list-style-type: none;
            font-size: $text-size;
            color: #4c566a;
        }

        .post-link {
            padding-left: 2em;
            color: #2e3440;
        }
    }

    .projects {
        margin-bottom: 1em;

        ul {
            margin: 0;
            padding: 0;
        }

        .project-item {
            list-style-type: none;
            font-size: $text-size;
            color: #4c566a;
        }

        .project-link {
            color: #2e3440;
            font-weight: bold;

            &:hover {
                color: #4c566a;
                text-decoration-color: #2e3440;
                text-decoration-style: double;
            }
        }

        .project-summary {
            padding-right: 2em;
        }
    }

    .section-title {
        font-weight: bold;
        font-size: $section-title-size;
        color: #4c566a;
        margin: 0;
    }

    .footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        justify-content: space-evenly;
    }
}

.page-content {
    .page-header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .page-title {
        font-size: $section-title-size;
        font-weight: bold;
        margin-top: 1em;
    }

    .page-subtitle {
        font-size: $page-subtitle-size;
        color: #4c566a;
        margin: 0;
    }
}
