<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="Davis Raymond Muro's Personal Website. Explore my projects, and insights on technology and social events." />
  <meta name="keywords" content="Davis Muro, Davis Raymond Muro, Software Engineer, Software Engineer Tanzania, Software Engineer US, Software Engineer Seattle" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {{ config.title}}{% if page.title %} - {{page.title}}{% endif %}
  </title>
  <link
    rel="stylesheet"
    href="{{ get_url(path='style.css') }}"
    type="text/css"
    media="screen"
  />
  {% if config.extra.favicon %}
  <link rel="icon" type="image/png" href="{{ config.base_url }}/{{ config.extra.favicon }}" />
  {% endif %}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="canonical" href="https://davisraym.com" />
</head>
